/* Asul 600 */
@font-face {
  font-family: 'Asul';
  src: url('/static/fonts/asul-v21-latin-700.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Roboto 400 */
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto-v47-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto-v47-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Apply both */
html[lang^="en"] {
  font-family: 'Roboto', sans-serif;
}